body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

footer {
	background-color: #645c5c;
	padding: 20px;
	
}

header {
	background-color: #115f70;
	
	padding: 20px;
	text-align: center;
    
}

header h1 {
	margin: 0;
	font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
}
header h3 {
	margin: 0;
	font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
}
header img {
	display: block;
	margin: 20px auto;
	width: 200px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
}

nav {
	background-color: #ad6868;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav li {
	display: inline-block;
	margin : 10px;
}

nav li a {
display: block;
padding: 10px;
color: #000000;
text-decoration: none;
font-weight: bold;
}

nav li a:hover {
background-color: #1c1c1c;
color: #ffffff;
}

main {
    background-image: url("bg2.jpg");
    background-size: cover;
    background-position: center;
padding: 20px;
}

section {
margin-bottom: 36px;
}

section h2 {
font-size: 24px;
margin-bottom: -6px;
text-align: center;
}
section p{
	margin-bottom: 12px;
	text-align: center;
	margin-left: 72px;
	margin-right: 72px;
	line-height: 1.5;
	
}
section a{
	text-align: center;
	margin-left: 44px;
}

ul {
list-style-type: none;
margin: 12px;
padding: 0;
margin-top: 20px;
}

ul li {
margin-bottom: 10px;
text-align: center;
}

ul li:last-child {
margin-bottom: 0;
}

ul li:before {

color: #1c1c1c;
margin-right: 10px;
}

ul li:first-child:before {
content: "";
margin-right: 0;
}

section ul li:last-child:before {
content: "";
margin-right: 0;
}
